@model IEnumerable<Model.DataModel.Promociones>

@{
    ViewBag.Title = "VerPromo";
}

<h2>VerPromo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

    @{if (Model != null)
        {

            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.idPromociones }) |
                        @Html.ActionLink("Details", "Details", new { id = item.idPromociones }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.idPromociones })
                    </td>
                </tr>
            }


        }
        else { 
            
            <tr>
                <td>
                    <h1>No hay promociones disponibles</h1>
                </td>
            </tr>
               
        }



    }

</table>
