@model IEnumerable<OasisFamiliarWebSite.Models.MesasVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutReceptionist.cshtml";
}

<h2></h2>

<!--Modal information-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Crear factura</h4>
            </div>

            <div style="col-md-4 mx-auto">
                <form method="post" action="@Url.Action("Factura", "Receptionist")">

                    <h1>
                        @* un pequeño espacio para que se vear ordenado *@
                     </h1>
                    <div class="form-group">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Mesa:</label>
                        <input type="text" readonly class="form-control edit_id" id="Mesa" name="Mesa" placeholder="#">
                    </div>

                    <div class="form-group">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre Cliente">
                    </div>

                    <div class="modal-footer">
                            <input type="submit"   text-align="center"  value="Crear Registro" class="btn btn-primary" />
                    </div>
            </form>
        </div>
        @*            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
</div>
    </div>
</div>
<!--Modal information-->

<!--Modal information-->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalles De ordem</h4>
            </div>

            <div style="col-md-4 mx-auto">
                <form method="post" action="@Url.Action("VerFactura", "Receptionist")">

                    <h1>
                        @* un pequeño espacio para que se vear ordenado *@
                    </h1>
                    <div class="form-group">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Mesa:</label>
                        <input type="text" readonly class="form-control edit_id" id="Mesa" name="Mesa" placeholder="#">
                    </div>

                    <div class="form-group">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Factura: </label>
                        <input type="text" class="form-control factura_id" id="Factura" name="Factura" placeholder="X0001">
                    </div>

                    <div class="modal-footer">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Ver Detalle" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
            @*            <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>
<!--Modal information-->


<table class="table table-bordered border border-success ">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Mesa)
            </th>

            <th>
                Accion
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Mesa)

                </td>
                <td>

                    @{ int ejemplo = item.Disponible;}

                    @if (ejemplo == 0)
                    {
                        <button type="button" class="btn btn-primary edit_button" data-toggle="modal" data-target="#myModal"
                                data-id="@Html.DisplayFor(modelItem => item.idMesa)">
                            Reservar
                        </button>
                    }
                    else if (ejemplo == 1)
                    {
                        <button type="button" class="btn btn-danger edit_button" data-toggle="modal" data-target="#myModal2"
                                data-id="@Html.DisplayFor(modelItem => item.idMesa)" data-factura="@Html.DisplayFor(modelItem => item.NumeroFactura)">
                            Mesa Ocupada
                        </button>


                    }

                </td>
            </tr>
        }
    </tbody>

</table>

<!--Codigo para tomar valor de la tabla-->

<script>

    $(document).on("click", '.edit_button', function (e) {
        var id = $(this).data('id');
        var fac = $(this).data('factura');

        console.log(id);
        $(".edit_id").val(id);
        console.log(fac);
        $(".factura_id").val(fac);


        $(".modal-title").val("Crear Factura para Mesa" + id);
    });


</script>