@model IEnumerable<OasisFamiliarWebSite.Models.CustomerVM>

@{

    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}



<h2 style="text-align:center;">Bienvenido al Oasis Familiar</h2>
<h3 style="text-align:center;">@ViewBag.Data.Nombre_Usuario</h3>

<div style="text-align:center">

    @{
        if (ViewBag.Data.EstadoCuenta == 0)
        {
            <p>No tiene cuenta abierta</p>
            <!--<button>Iniciar Orden</button>-->

        }
        else
        {
            <p>Detalle de su cuenta:</p>
            <p>Factura #: @ViewBag.Data.FacturaActual</p>
            <p>Total actual: @ViewBag.Data.MontoActual</p>
        }
    }

</div>

<div class="opciones">
    <div class="btn-group-vertical center">
        @{ if (ViewBag.Data.EstadoCuenta != 0)
            {
                <button type="button" class="btn btn-primary btn-outline" onclick="location.href='@Url.Action("VerFactura", "Customer", new { item = ViewBag.Data.FacturaActual })'"> Revisar facturar</button>
                <button type="button" class="btn btn-primary btn-outline" onclick="location.href='@Url.Action("MenuPage", "Customer", new { item = ViewBag.Data.FacturaActual })'">Ordenar</button>
                <button type="button" class="btn btn-danger btn-outline">Pagar</button>
            }
            else
            {
                <button type="button" class="btn btn-primary btn-outline" onclick="location.href='@Url.Action("MenuPage", "Customer", new { item = ViewBag.Data.FacturaActual})'">Menú</button>
            }
        }
        <button type="button" class="btn btn-primary btn-outline">Llamar la mesero</button>
    </div>
</div>

